html {
  font-size: 120%;
  background-color: #eee;
}

h1,
h2,
h3 {
  font-family: sans-serif;
  color: #239;
}

g.bar {
  user-select: none;
}

g.bar rect {
  fill: #222;
}

g.bar text {
  font-family: sans-serif;
  font-size: 10pt;
  fill: #222;
}
